fastapi
pydantic
sqlalchemy
crud
models
database
authlib
starlette
sympy
numpy
chemparse
openai
pytesseract
Pillow
io
google-api-python-client
torch
torchvision
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
